# Duncit mWeb (port 2003)
VITE_IS_DEVELOPMENT=true
VITE_GRAPHQL_URL=http://localhost:2001/graphql
VITE_MWEB_URL=http://localhost:2003
VITE_GOOGLE_CLIENT_ID=your_client_id_here
VITE_GOOGLE_MAP_API=your_google_maps_api_key_here
